html{
	background-image: url("https://previews.123rf.com/images/iterum/iterum1408/iterum140800133/30450328-curvy-waves-repetitive-pattern-vector-texture-background.jpg");
	background-attachment: fixed;
	background-repeat: repeat;
	padding: 15px;
}

body{
	background-color: rgba(255, 255, 255, 0.55);
	padding: 15px;
}

table, thead, tbody, td{
	border-style: solid;
}

thead{
	color: red;
}

