html{
	background-image: url("https://previews.123rf.com/images/iterum/iterum1408/iterum140800133/30450328-curvy-waves-repetitive-pattern-vector-texture-background.jpg");
	background-attachment: fixed;
	background-repeat: repeat;
	padding: 15px;
}

body{
	background-color: rgba(255, 255, 255, 0.55);
	padding: 15px;
}

table, thead, tbody, td{
	border-style: solid;
}

thead{
	color: red;
}

.zoom{
	height: 20%;
	width: 20%;
	border-radius: 50px;
}

.zoom:hover{
	height: 50%;
	width: 50%;
	border-radius: 0px;
	transform: all;
	transition-duration: 1s;
}

nav{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #11dd6e;
	padding: 0px;
	margin: 0px;
}

.menu-list{
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	margin: 0px;
}

.menu-list>li{
	list-style: none;
	padding: 20px;
}

.menu-list>li:hover{
	background-color: #2ea665;
}

.menu-list>li>a{
	text-decoration: none;
	color: black;
}

.menu-list>li>a:active{
	text-decoration: none;
	color: black;
}