body{
	padding: 15px;
	background-image: url("https://previews.123rf.com/images/iterum/iterum1408/iterum140800133/30450328-curvy-waves-repetitive-pattern-vector-texture-background.jpg");
	background-attachment: fixed;
	background-repeat: repeat;
	}

.page{
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 15px;
	padding: 15px;
}

table, th, td{
	border: solid 2px;
}

.center{
	text-align: center;
}

.compteur{
	font-size: 200%;
	text-align: center;
}

.zoom{
	border-radius: 150px;
	height: 10%;
	width: 10%;
}

.zoom:hover{
	transform: height width border-radius;
	transition-duration: 1s;
	border-radius: 0px;
	height: 30%;
	width: 30%;
}